MILTON_RECEIVER_SMTP_PORT=
MILTON_WORKER_INTERVAL=
MILTON_DISPATCHER_INTERVAL=
MILTON_DISPATCHER_SMTP_HOST=
MILTON_DISPATCHER_SMTP_PORT=
MILTON_DISPATCHER_SMTP_FROM=
MILTON_DISPATCHER_SMTP_USER=
MILTON_DISPATCHER_SMTP_PASS=
